* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
<<<<<<< HEAD
}
=======


h1 {
    font-size: 38px;
    font-weight: 600px;
    color:#333;
    line-height: 44px;
    text-align: center;
}

h2 {
    font-size: 26px;
    font-weight: 600px;
    color:#333;
    line-height: 34px;
    text-align: center;
}
>>>>>>> dev
